<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style1.css">
    <link rel="stylesheet" type="text/css" href="notifications.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <title>Notifications | Hermes Eye</title>
</head>
<body>
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="background-color: #1b3c65 !important;">
          <a class="navbar-brand" href="/"><img class="navbar-logo" src="img/HermesEye icon.png"></img></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 30px;">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
              <a class="nav-item nav-link" href="home" method="get">Home</a>
              <a class="nav-item nav-link" href="orders" method="get">Orders</a>
              <a class="nav-item nav-link active" href="notifications" method="get" style="display: flex;"><span>Notifications</span>
                  {{#if_greater notifs 0}}
                      <span class="icon-button-badge">{{notifs}}</span>
                  {{/if_greater}}
                          
                  <button type="button" class="icon-button" style="border-radius: 100px; position: relative; z-index: -1; top: -5px;">
                      <span class="material-icons">notifications</span>
                  </button>
              </a>
              <a class="nav-item nav-link" href="registration">Registration</a>
              <a class="nav-item nav-link" href="profile">Profile</a>
              </div>
          </div>
      </nav>
      
      <main>
        <div id="title_header"><h1>Notifications</h1></div>

        {{#unless notifications}}
          <div class="no-notification">
              No new notifications
          </div>
        {{/unless}}

        {{#each notifications}}

          {{!-- DELIVERED NOTIFICATION --}}
          {{#ifEquals status "Delivered"}}
            {{#ifEquals readStatus 3}}
              <div class="notification-container" value={{orderID}}>
                <a class="notification-link" value={{orderID}}>
                    <div  class="notification-head">                     
                        <div class="order-number">Order Number : {{orderID}}</div>   
                          <span class="material-icons">check_circle</span>
                        <div class="order-status">Status: {{status}}</div>
                      </div>
                </a>
              </div>

              <div class="notification-container" value={{orderID}}>
                <a class="notification-link" value={{orderID}}>
                    <div  class="notification-head">                     
                        <div class="order-number">Order Number : {{orderID}}</div>   
                          <span class="material-icons">local_shipping</span>
                        <div class="order-status">Status: In Transit</div>
                      </div>
                </a>
              </div>

              <div class="notification-container" value={{orderID}}>
                <a class="notification-link" value={{orderID}}>
                    <div  class="notification-head">                     
                        <div class="order-number">Order Number : {{orderID}}</div>   
                          <span class="material-icons">assignment_turned_in</span>
                        <div class="order-status">Status: For Approval</div>
                      </div>
                </a>
              </div>
            {{/ifEquals}}

            {{#ifEquals readStatus 2}}
              <div class="notification-container" value={{orderID}}>
                <a class="notification-link" value={{orderID}}>
                    <div  class="notification-head">                     
                        <div class="order-number">Order Number : {{orderID}}</div>   
                          <span class="material-icons">check_circle</span>
                        <div class="order-status">Status: {{status}}</div>
                      </div>
                </a>
              </div>

              <div class="notification-container" value={{orderID}}>
                <a class="notification-link" value={{orderID}}>
                    <div  class="notification-head">                     
                        <div class="order-number">Order Number : {{orderID}}</div>   
                          <span class="material-icons">local_shipping</span>
                        <div class="order-status">Status: In Transit</div>
                      </div>
                </a>
              </div>
            {{/ifEquals}}

            {{#ifEquals readStatus 1}}
              <div class="notification-container" value={{orderID}}>
                <a class="notification-link" value={{orderID}}>
                    <div  class="notification-head">                     
                        <div class="order-number">Order Number : {{orderID}}</div>   
                          <span class="material-icons">check_circle</span>
                        <div class="order-status">Status: {{status}}</div>
                      </div>
                </a>
              </div>
            {{/ifEquals}}
            
          {{/ifEquals}}

          {{!-- IN TRANSIT NOTIFICATION --}}
          {{#ifEquals status "In Transit"}}
            {{#ifEquals readStatus 2}}
              <div class="notification-container" value={{orderID}}>
                <a class="notification-link" value={{orderID}}>
                    <div  class="notification-head">                     
                        <div class="order-number">Order Number : {{orderID}}</div>   
                          <span class="material-icons" style="color: #444444">local_shipping</span>
                        <div class="order-status">Status: {{status}}</div>
                      </div>
                </a>
              </div>

              <div class="notification-container" value={{orderID}}>
                <a class="notification-link" value={{orderID}}>
                    <div  class="notification-head">                     
                                                <div class="order-number">Order Number : {{orderID}}</div>   
                          <span class="material-icons">assignment_turned_in</span>
                        <div class="order-status">Status: For Approval</div>
                      </div>
                </a>
              </div>
            {{/ifEquals}}

            {{#ifEquals readStatus 1}}
              <div class="notification-container" value={{orderID}}>
                <a class="notification-link" value={{orderID}}>
                    <div  class="notification-head">                     
                        <div class="order-number">Order Number : {{orderID}}</div>   
                          <span class="material-icons" style="color: #444444">local_shipping</span>
                        <div class="order-status">Status: {{status}}</div>
                      </div>
                </a>
              </div>
            {{/ifEquals}}
            
          {{/ifEquals}}

          {{!-- FOR APPROVAL NOTIFICATION --}}
          {{#ifEquals status "For Approval"}}
            {{#ifEquals readStatus 1}}
              <div class="notification-container" value={{orderID}}>
                <a class="notification-link" value={{orderID}}>
                    <div  class="notification-head">                     
                        <div class="order-number">Order Number : {{orderID}}</div>   
                          <span class="material-icons" style="color: #444444">assignment_turned_in</span>
                        <div class="order-status">Status: {{status}}</div>
                      </div>
                </a>
              </div>
            {{/ifEquals}}
            
          {{/ifEquals}}

        {{/each}}

      </main>

      <script>
        $('.notification-container').on('click', function(e) {
            var href = "/order_details";
            var newQuery = "/" + $(this).attr("value");
            var newHref = href + newQuery;
            console.log("CLICK : " +newHref);
            window.location.href = newHref;
        });

      </script>
      
      <!-- partial -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </script><script  src="./notifications.js"></script>

      

</body>
</html>