<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style1.css">
    <link rel="stylesheet" type="text/css" href="profile.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <title>Profile | Hermes Eye</title>
</head>
<body style="background-color: #d5dfeb">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="background-color: #1b3c65 !important;">
          <a class="navbar-brand" href="/"><img class="navbar-logo" src="img/HermesEye icon.png"></img></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 30px;">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav me-auto">
                <a class="nav-item nav-link" href="home" method="get">Home</a>
                <a class="nav-item nav-link" href="registration">Registration</a>
                <a class="nav-item nav-link" href="users">Users</a>
                <a class="nav-item nav-link" href="list_maintenance">List Maintenance</a>
                <a class="nav-item nav-link active" href="profile">Profile</a>
              </div>
            <div class="navbar-nav" style="margin-right: 30px;">
                <a href="signout" method="get" style="margin-left: 0px; color: white;">Sign out</a>
            </div>
          </div>
      </nav>

      {{#if errors}}
        <div class="error">{{errors}}</div>
      {{/if}}

      {{#if message}}
        <div class="message">{{message}}</div>
      {{/if}}
      
      <main>
        <div class="container-sm">
            <div class="jumbotron jumbotron-fluid" style="margin-top: 50px;">
                <div class="container">
                    <h1 class="display-4" style="font-family: Nunito; font-weight: 800;">My Profile</h1>
                </div>
            </div>

            <hr>

            <div class="profile-container">
                <div class = "accountInfo">
                    <div class="accountInfo-header">
                        <h1 style="font-family: Nunito; font-weight: 800;">ACCOUNT INFORMATION</h1>

                        <button type="button" class="btn btn-primary view_modal" value="{{this.userID}}" data-bs-toggle="modal" data-bs-target="#view_modal" style="font-family: Nunito; font-weight: 800;">Edit</button>

                    </div>

                    <div class="accountInfo-body"> 
                        <h2 class="display-7" style="font-family: Poppins; font-weight: 400;">{{username}}</h2>
                        <h2 class="display-7" style="font-family: Poppins; font-weight: 400;">{{firstname}} {{lastname}}</h2>
                        <h2 class="display-7" style="font-family: Poppins; font-weight: 400;">Admin Account</h2>
                    </div>                
                </div>
            </div>
      </main>

      <div class="modal fade" id="view_modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Edit profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form method="post" action="updateProfile">
                        <div class="form-group">
                            <input type ="hidden" name="userID" value={{userID}}>
                            <label for="inputUsername">Username:</label>
                            <input type="text" class="form-control" id="inputUsername" name="username" placeholder={{this.username}} value={{this.username}} required>
                        </div>
                        <div class="form-group">
                            <label for="inputFname">First name:</label>
                            <input type="text" class="form-control" id="inputFname" name="firstname" placeholder={{this.firstname}} value={{this.firstname}} required>
                        </div>
                        <div class="form-group">
                            <label for="inputLname">Last name:</label>
                            <input type="text" class="form-control" id="inputLname" name="lastname" placeholder={{this.lastname}} value={{this.lastname}} required>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword">New Password:</label>
                            <input type="password" class="form-control" id="inputPassword" name="new_password" placeholder="New Password" minlength="8">
                        </div>

                        <div class="form-group">
                            <label for="inputConfirmPassword">Confirm New Password:</label>
                            <input type="password" class="form-control" id="inputConfirmPassword" name="confirm_new_password" placeholder="Confirm New Password" minlength="8">
                        </div>


                        <button type="submit" class="btn btn-primary" style="margin-top: 10px">Submit</button>
                    </form>

                </div>
                </div>
            </div>
        </div>
      
      <!-- partial -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script><script  src="./home.js"></script> -->
</body>
</html>